%aside#search-container.collapsed
  .search-container-header
    %button.filter-toggle
      %span.filter-container
        %span.filter-text Filter
        %svg.chevron-icon(width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg")
          %path(d="M9.08366 1.25L5.00033 5.33333L0.916992 1.25" stroke="#474747" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round")
        %svg.line-icon(width="1" height="20" viewBox="0 0 1 20" fill="none" xmlns="http://www.w3.org/2000/svg")
          %line(x1="0.5" y1="2.18557e-08" x2="0.499999" y2="20" stroke="#878787")          
        %span.filter-count          
  %section#search-box
    = form_tag('/locations', method: :get, id: 'form-search', return: false) do

      %section#search-options

        = render 'component/search/keyword'
        = render 'component/search/category'
        = render 'component/search/filters'
        = render 'component/search/geolocate'
        = render 'component/search/language'

      .search-button-container
        %button#reset-button{ type: "button" } Clear Filters
        %button.search-option-filter-button{ type: "submit" } Apply Filters
