= field_set_tag nil, id: 'geolocation-filter', class: 'input-search-filter input-search-filter-option' do
  %legend.sr-only= 'Geolocation Filter'
  = label_tag 'address', 'Location', id: 'address-label'
  #geolocate-box
    = hidden_field_tag :lat, @lat
    = hidden_field_tag :long, @long
    - if @lat.present? && @long.present?
      = button_tag 'geolocate', id: 'geolocate' do
        %svg{width: "26", height: "26", viewBox: "0 0 22 22", fill: "none", xmlns: "http://www.w3.org/2000/svg", class: "geolocated", id: "button-geolocate", "aria-label" => t('buttons.services_near_me'), title: t('buttons.services_near_me')}
          %path{d: "M19.94 10C19.48 5.83 16.17 2.52 12 2.06V0H10V2.06C5.83 2.52 2.52 5.83 2.06 10H0V12H2.06C2.52 16.17 5.83 19.48 10 19.94V22H12V19.94C16.17 19.48 19.48 16.17 19.94 12H22V10H19.94ZM11 18C7.13 18 4 14.87 4 11C4 7.13 7.13 4 11 4C14.87 4 18 7.13 18 11C18 14.87 14.87 18 11 18Z", fill: "#222222"}
    - else 
      %svg{width: "26", height: "26", viewBox: "0 0 22 22", fill: "none", xmlns: "http://www.w3.org/2000/svg", id: "button-geolocate", "aria-label" => t('buttons.services_near_me'), title: t('buttons.services_near_me')}
        %path{d: "M19.94 10C19.48 5.83 16.17 2.52 12 2.06V0H10V2.06C5.83 2.52 2.52 5.83 2.06 10H0V12H2.06C2.52 16.17 5.83 19.48 10 19.94V22H12V19.94C16.17 19.48 19.48 16.17 19.94 12H22V10H19.94ZM11 18C7.13 18 4 14.87 4 11C4 7.13 7.13 4 11 4C14.87 4 18 7.13 18 11C18 14.87 14.87 18 11 18Z", fill: "#222222"}

    = text_field_tag :address, @address, style: "width: 70%; border-top: 1px solid #A1A1A1; border-bottom: 1px solid #A1A1A1; border-left: none; border-right: none; height: 2.5rem; box-sizing: border-box; margin-left: auto; border-top-right-radius: 4px; border-bottom-right-radius: 4px;"
  = label_tag nil, t('labels.search_hint_location'), class: 'search-hint'

= field_set_tag nil, id: 'distance-filter', class: 'input-search-filter input-search-filter-option' do
  %legend.sr-only= t('labels.distance_filter')
  = label_tag 'distance', 'Radius', style: "font-size: 16px;", for: 'distance'
  = select_tag :distance, 
               options_for_select([["1 mile", 1], ["2 miles", 2], ["10 miles", 10], ["25 miles", 25]], @selected_distance_filter), 
               include_blank: 'All', 
               class: "category-search-select-left-menu",
               aria: { describedby: 'distance-description' }

  = label_tag nil, t('labels.search_hint_distance'), class: 'search-hint'               
