%p.welcome
  Below you should see a list of services (and their corresponding location) that you are allowed to administer.
  If there are any entries missing,
  please #{mail_to SETTINGS[:admin_support_email], 'let us know'}.
%p
  To start updating, click on one of the links, which will take you to the details page
  for the service.

- if current_admin.super_admin?
  %p
    As a super admin, you have access to all services in the database. Please make updates responsibly.

.search-container
  = form_tag(admin_services_path, method: :get, class: 'search-form') do
    .row.reset-space-around
      %p.bold Keyword
      = text_field_tag "q[keyword]", @search_terms[:keyword], class: 'form-control'

    .row.reset-space-around.mt-15
      %p.bold Date last updated
      = field_set_tag do
        .col-sm-3.date-picker
          %p Start
          = date_field :q, :start_date, value: @search_terms[:start_date], class: 'form-control'
        .col-sm-3.date-picker
          %p End
          = date_field :q, :end_date, value: @search_terms[:end_date], class: 'form-control'

    .row.reset-space-around.mt-15
      %p.bold Tag
      = select_tag "q[tag]", options_from_collection_for_select(@tags, "id", "name", @search_terms[:tag]), include_blank: true, class: "form-control wait-time-options"

      = submit_tag t('admin.buttons.search'), class: 'btn submit-button mt-10'
      = link_to t('admin.buttons.clear_filters'), admin_services_path, name: "commit", class: 'btn clear-filters-button mt-10'

%div
  - if @services.empty?
    %span
      No results found

  - if @services.present? && @search_terms.present?
    %p
      Search results

  - if @policy.archive?
    = form_tag(admin_services_path, method: :post, class: 'service-result') do
      = check_box_tag "select-all", nil, nil, class: "select-all-archive"
      = label_tag  "select-all", "Select all on page", class: 'select-all-label'
      = submit_tag t('admin.buttons.batch_archive_services'), class: 'btn submit-button archive-btn'
      %div
        - @services.each do |service|
          %ul
            - if service.archived_at.nil?
              = check_box_tag('archive[]', service.id, nil, class: "select-archive")
            = link_to service.full_name, edit_admin_location_service_path(service.location_id, service.id), class: "link"
            - if service.archived_at.present?
              %span.archived-service-result Archived
        = paginate @services
  - else
    %div
      - @services.each do |service|
        %ul
          = link_to service.full_name, edit_admin_location_service_path(service.location_id, service.id), class: "link"
          - if service.archived_at.present?
            %span.archived-service-result Archived
      = paginate @services
