= render 'component/detail/service_situations_group', service: service, taxonomy_id: '126', label_key: 'service_fields.categories.languages'
= render 'component/detail/service_situations_group', service: service, taxonomy_id: '112', label_key: 'service_fields.categories.ages_served'
= render 'component/detail/service_situations_group', service: service, taxonomy_id: '119', label_key: 'service_fields.categories.gender_sexuality'
= render 'component/detail/service_situations_group', service: service, taxonomy_id: '125', label_key: 'service_fields.categories.insurance_accepted'
= render 'component/detail/service_situations_group', service: service, taxonomy_id: '130', label_key: 'service_fields.categories.documents_needed'
= render 'component/detail/service_situations_group', service: service, taxonomy_id: '121', label_key: 'service_fields.categories.health_specialties'
= render 'component/detail/service_situations_group', service: service, taxonomy_id: '132', label_key: 'service_fields.categories.substance_use_treatment_preferences'
