%h3 Update Real-Time Capacity
%p
  Please update your service capacity below at each location. If there is no change to the capacity status, click "update status" to change the "last updated" timestamp to be the most recent time.
- if current_admin.super_admin?
  %p As a super admin, you have access to all locations in the database. Please make updates responsibly.

%p
  - @locations.each do |location|
    %h3
      = location.last.name
    %p
      - location.last.services.each do |service|
        %h4
          = service.name
        = form_for [:admin, location.last, service], html: { class: 'edit-entry' } do |f|
          = f.select :wait_time, options_for_select(wait_time_select_options, service.wait_time), {include_blank: 'Unknown'}, {:class => "form-control wait-time-options"}
          = f.submit t('admin.services.capacity.update_status'), class: 'btn submit-button'

