.content-box
  %h2= @location.name == @org.try(:name) ? @location.name : "#{@org.try(:name)} / #{@location.name}"
  = last_updated_at(@updated)
= form_for [:admin, @location], html: { class: 'edit-entry' } do |f|
  = render 'form', f: f, location: @location, org: @org

