%p
  Below you should see a list of locations that you are allowed to administer based on your email address.
  If there are any locations missing,
  please #{mail_to SETTINGS[:admin_support_email], 'let us know'}.
%p
  To start updating, click on one of the links, which will take you to the details page
  for the location.
- if current_admin.super_admin?
  %p As a super admin, you have access to all locations in the database. Please make updates responsibly.

.search-container
  = form_tag(admin_locations_path, method: :get, class: 'search-form') do
    .row.reset-space-around
      %p.bold Location name or ID
      = text_field_tag "q[keyword]", @search_terms[:keyword], class: 'form-control'

    .row.reset-space-around.mt-15
      %p.bold Date last updated
      = field_set_tag do
        .col-sm-3.date-picker
          %p Start
          = date_field :q, :start_date, value: @search_terms[:start_date], class: 'form-control'
        .col-sm-3.date-picker
          %p End
          = date_field :q, :end_date, value: @search_terms[:end_date], class: 'form-control'

    .row.reset-space-around.mt-15
      %p.bold Tag
      = select_tag "q[tag]", options_from_collection_for_select(@tags, "id", "name", @search_terms[:tag]), include_blank: true, class: "form-control search-form-select"

    = submit_tag t('admin.buttons.search'), class: 'btn submit-button mt-10'
    = link_to t('admin.buttons.clear_filters'), admin_locations_path, name: "commit", class: 'btn clear-filters-button mt-10'

%div
  - if @search_terms.present? && @locations.empty?
    %span
      No results found
  - elsif @locations.empty?
    %span
      No locations available

  - if @locations.present? && @search_terms.present?
    %p
      Search results:

- if current_admin.super_admin?
  = form_tag('/admin/locations/archive', method: :post, class: 'service-result') do
    - unless @search_terms.present? && @locations.empty?
      = check_box_tag "select-all", nil, nil, class: "select-all-archive"
      = label_tag  "select-all", "Select all on page", class: 'select-all-label'
      = submit_tag t('admin.buttons.batch_archive_locations'), data: { confirm: 'Are you sure you want to archive the selected items?' }, class: 'btn submit-button archive-btn'
    %p
      - @locations.each do |location|
        %ul
          - if location.last.nil?
            = check_box_tag('archive[]', location.first, nil, class: "select-archive")
          = link_to location.second, edit_admin_location_path(location.third), class: "location-links"
          - if location.last.present?
            %span.archived-flag Archived
      = paginate @locations
    - if @locations.present?
      %p
        = link_to t('admin.buttons.add_location'), new_admin_location_path, class: 'button action'
- else
  %p
    - @locations.each do |location|
      %ul
        = link_to location.second, edit_admin_location_path(location.third), class: "location-links"
        - if location.last.present?
          %span.archived-flag Archived
    = paginate @locations
