%tr.admin-row
  %td.data.name
    = admin.name
  %td.data.email
    = admin.email
  %td.data.locations
    = admin.locations.map(&:name).join(', ')
  %td.table-button.edit-admin
    = form_for(admin, as: admin, url: edit_admin_management_path(admin.id), html: { method: :get }) do |f|
      .actions
        = f.submit t('admin.management.edit'), class: 'button'