.devise.admin-list

  %h2
    = t('admin.management.edit_admin')

  .form
    = form_for(@admin, as: :admin, url: admin_management_path(@admin.id),
               html: { method: :put }) do |f|
      = render 'devise/shared/error_messages', resource: @admin

      .field.name
        = f.label :email
        %br
        %p
          = @admin.email

      .field.name
        = f.label :name
        %br
        = f.text_field :name, autofocus: true, autocomplete: 'name'

      .actions
        = link_to t('admin.management.cancel'), admin_management_index_path, class: 'button button-light'
        = f.submit t('admin.management.save'), class: 'button button-small'

  %h3
    = t('admin.management.locations')

  - locations = @admin.locations
  - if locations.length > 0
    %table.locations
      %tr.headings
        %th.data.name
          = t('admin.management.name')
        %th.table-button.remove-location &nbsp;

      - @admin.locations.each do |location|
        = render partial: 'location_row', locals: { admin: @admin, location: location }
  - else
    %p
      = t('admin.management.no_locations')
