#dashboard
  - if admin_signed_in?
    %p.welcome
      Welcome back, #{current_admin.name}!

    - unless current_admin.super_admin?
      %p.capacity
        = link_to t('admin.buttons.update_capacity'), admin_capacity_path, class: 'button action'

    %p
      = link_to "View #{t('admin.buttons.organizations')}", admin_organizations_path, class: 'button'
      - if current_admin.super_admin?
        = link_to "+ #{t('admin.buttons.add_organization')}", new_admin_organization_path
    %p
      = link_to "View #{t('admin.buttons.locations')}", admin_locations_path, class: 'button'
      - if @orgs.present?
        = link_to "+ #{t('admin.buttons.add_location')}", new_admin_location_path
    %p
      = link_to "View #{t('admin.buttons.services')}", admin_services_path, class: 'button'
