.devise.admin-list

  %div.header
    %h2
      = t('admin.management.admin_users')
    = button_to t('admin.management.manage_super_admins'), admin_management_super_admins_path, method: :get, class: 'button'

  %div
    = form_tag(admin_management_admins_path, method: :get, class: 'search-form') do
      = text_field_tag "search", @search_terms, placeholder: "search name or email", class: 'form-control'
      = submit_tag t('admin.buttons.search'), class: 'btn submit-button'
      = link_to t('admin.buttons.clear_search'), admin_management_admins_path, name: "commit", class: 'btn clear-filters-button'

  - if @admins.length < 1
    %div.admin-search
      No results found
  - else
    %table.admin-table
      %tr.headings
        %th.data.name
          = t('admin.management.name')
        %th.data.email
          = t('admin.management.email')
        %th.data.locations
          = t('admin.management.locations')
        %th.table-button.edit-admin &nbsp;

      - @admins.each do |admin|
        = render partial: 'admin_row', locals: { admin: admin }
    = paginate @admins
