
%h1 Tag Management

- if current_admin.super_admin?
  = link_to "Add New Tag", new_admin_tag_path

%div
  - if @tags.empty?
    %span
      No results found
  - else
    %table
      %tbody
        %tr
          %td Tag Name:
          %td Actions:
        - @tags.each do |tag|
          %tr
            %td
              = link_to tag.name, admin_tag_path(tag.id)
            %td
              %span
                = link_to 'Destroy', admin_tag_path(tag.id), method: :delete, data: { confirm: 'Are you sure?' }
              %span
                = "/"
              %span
                = link_to 'Edit', edit_admin_tag_path(tag.id)
