%h3
  = "Resources Associated to tag #{@tag.name}"

%div
  - if @resources_array.empty?
    %span
      No results found
  - else
    %p
      - @resources_array.each do |resource|
        %ul
          %span
            = "#{resource.resource.name} - #{resource.resource_type}"
      = paginate @resources_array


