%p.welcome
  Below you should see a list of organizations that you are allowed to administer.
  If there are any entries missing,
  please #{mail_to SETTINGS[:admin_support_email], 'let us know'}.
%p
  To start updating, click on one of the links, which will take you to the details page
  for the organization.

- if current_admin.super_admin?
  %p
    As a super admin, you have access to all locations in the database. Please make updates responsibly.

.search-container
  = form_tag(admin_organizations_path, method: :get, class: 'search-form') do
    %p.bold Organization name or ID
    = text_field_tag "q[keyword]", @search_terms[:keyword], class: 'form-control'
    = submit_tag t('admin.buttons.search'), class: 'btn submit-button'
    = link_to t('admin.buttons.clear_filters'), admin_organizations_path, name: "commit", class: 'btn clear-filters-button'
%div
  - if @orgs.empty?
    %span
      No results found

  - if @orgs.present? && @search_terms.present?
    %p
      Search results

%p
  - @orgs.each do |org|
    %ul
      = link_to "#{org.second} - #{org.first}", edit_admin_organization_path(org.third), class: "link"
  = paginate @orgs
