%h1 ANALYTICS

%table.table
  %tr
    %td # of Organizations:
    %td #{@organizations_count}
  %tr
    %td # of Organizations created in the last 30 days:
    %td #{@new_org_count}
  %tr
    %td # of Locations:
    %td #{@locations_count}
  %tr
    %td # of Locations created in the last 30 days:
    %td #{@new_location_count}
  %tr
    %td # of Services:
    %td #{@services_count}
  %tr
    %td # of Services created in the last 30 days:
    %td #{@new_service_count}
