.inst-box.funding_sources
  %header
    %strong
      = f.label :tags

  = field_set_tag do
    = select_tag "#{f.object.model_name.singular}[tag_list][]",
      options_for_select(Tag.pluck(:name), f.object.tags.pluck(:name)),
      id: 'taggable', class: 'form-control', multiple: true

:javascript
  var tags = #{raw (Tag.pluck(:name)).to_json}
  $(document).on('turbolinks:load', function() {
    $("#taggable").select2({
      tags: tags,
      multiple: 'multiple',
      tokenSeparators: [', '],
      tags: false
    });
  })
