<h1>Flag Categories</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        Below is a list of categories frontend users can choose from when reporting a resource is inaccurate. Please use the form below to add
        a new category.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Category</h3>
        </div>
        <div class="panel-body">
          <%= form_for [:admin, @flag_category], url: admin_flag_categories_path, html: { method: :post } do |f| %>
            <%= render 'form', f: f, flag_category: @flag_category %>
          </div>
          <div class="panel-footer"><%= f.submit "Add Category", aria: { label: "Add a new category for flaging organizations" } %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Flag Categories</h3>
        </div>
        <div class="panel-body">
          <% @flag_categories.each do |flag_category| %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= flag_category.name %>
                <%= link_to edit_admin_flag_category_path(flag_category) do %>
                  <span class="label label-warning"><span class="glyphicon glyphicon-pencil"></span></span>
                <% end %>
                <%= link_to edit_admin_flag_category_path(flag_category) do %>
                  <span class="label label-danger"><span class="glyphicon glyphicon-trash"></span></span>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="panel-footer">Total: <%= @flag_categories.count %> </div>
      </div>
    </div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @flag_categories.each do |flag_category| %>
      <tr>
        <td></td>
        <td><%#= link_to 'Destroy', flag_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
