<h1>Flagged Resources</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        Below is a list of all the resources that have been reported inaccurate. You may, as an admin, report an inaccurate resource as well
        using the form below.
      </p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Organizations Flagged</h3>
          </div>
          <div class="panel-body">
            <% @flags.each do |flag| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= link_to(flag.resource.name, flag.resource_path) %>
                  <h5>Reported By</h5>
                  <p><%= flag.email.blank? ? "N/A" : flag.email  %></p>
                  <%- if flag.description? %>
                    <h5>Description</h5>
                    <p><%= flag.description  %></p>
                  <% end %>
                  <%- if flag.report_attributes != {} %>
                    <h5>Report</h5>
                    <p>
                      <pre>
                        <% flag.report_attributes.each do |key, value| %>
                          <%= report_attribute_info(value, key) %>
                        <% end %>
                      </pre>
                    </p>
                  <% end %>
                  <h5>Resource Type</h5>
                  <p><%= flag.resource_type  %></p>
                  <h5>Resource Id</h5>
                  <p><%= flag.resource_id  %></p>
                </ul>
              <% end %>
            </div>
            <div class="panel-footer">Total: <%= @flags.count %> </div>
          </div>
        </div>
      </div>
    </div>
