<h1>Flagged Resources</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        Below is a list of all the resources that have been reported inaccurate. You may, as an admin, report an inaccurate resource as well
        using the form below.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Organizations Flagged</h3>
        </div>
        <div class="panel-body">
          <% @flags.each do |flag| %>
          <%- if flag.completed_at.nil?%>
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to(flag.resource.name, flag.resource_path) %>
              <h5>Reported By</h5>
              <p><%= flag.email.blank? ? "N/A" : flag.email  %></p>
              <%- if flag.description? %>
              <h5>Description</h5>
              <p><%= flag.description  %></p>
              <% end %>
              <%- if flag.report_attributes != {} %>
              <h5>Report</h5>
              <p>
                <pre>
                  <% flag.report_attributes.each do |key, value| %>
                    <%= report_attribute_info(value, key) %>
                  <% end %>
                </pre>
              </p>
              <% end %>
              <h5>Resource Type</h5>
              <p><%= flag.resource_type  %></p>
              <h5>Resource Id</h5>
              <p><%= flag.resource_id  %></p>
              <h5>Flagged At</h5>
              <p><%= flag.created_at  %></p>
          </ul>
          <% end %>

          <%- if flag.completed_at?%>
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to(flag.resource.name, flag.resource_path) %>
              <h5>Reported By</h5>
              <p><%= flag.email.blank? ? "N/A" : flag.email  %></p>
              <%- if flag.description? %>
              <h5>Description</h5>
              <p><%= flag.description  %></p>
              <% end %>
              <%- if flag.report_attributes != {} %>
              <h5>Report</h5>
              <p>
                <pre>
                  <% flag.report_attributes.each do |key, value| %>
                    <%= report_attribute_info(value, key) %>
                  <% end %>
                </pre>
              </p>
              <% end %>
              <h5>Resource Type</h5>
              <p><%= flag.resource_type  %></p>
              <h5>Resource Id</h5>
              <p><%= flag.resource_id  %></p>
              <h5>Flagged At</h5>
              <p><%= flag.created_at  %></p>
              <%= form_for :flag, url: admin_flag_path, html: { method: :update } do |f| %>
                <% end %>
                <p> This flag has been completed. </p>
                %label
                = f.check_box(:completed_at, label: t('admin.buttons.unarchive_location'), class: 'archive-checkbox', checked: true)
                - if flag.completed_at.nil?
                  %p.archive-prompt
                  This location has not been archived.
                  %label
                  = t('admin.buttons.archive_location')
                  = f.check_box(:archived_at, label: t('admin.buttons.archive_location'), class: 'archive-checkbox')
          </ul>
          <% end %>
          <% end %>
        </div>
        <div class="panel-footer">Total: <%= @flags.count %> </div>
      </div>
    </div>
  </div>
</div>