!!!
%html
  %head
    = javascript_include_tag 'admin/application'
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
      %title= content_for?(:title) ? yield(:title) : t('titles.admin', brand: t('titles.brand'))
      %meta{ content: content_for?(:description) ? yield(:description) : "Admin Interface for #{t('titles.brand')}", name: 'description' }
        = favicon_link_tag 'CHARMcareCFavicon.png', rel: 'icon', type: 'image/png'
        = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,700'
        = stylesheet_link_tag 'admin/application', media: 'all'
        = csrf_meta_tags
        = yield(:head)
  %body{ class: "#{controller_name} #{action_name}" }
    = render 'admin/shared/navigation'
    #main{ role: 'main' }
      .content
        .container
          .row
            = render 'shared/messages'
            = yield
    = render 'admin/shared/footer'
